introducao_empreendedorismo-2014.pdf
introducao_empreendedorismo-2014.aux
introducao_empreendedorismo-2014.bbl
introducao_empreendedorismo-2014.blg
introducao_empreendedorismo-2014.log
introducao_empreendedorismo-2014.synctex.gz
preocupacoes_startup.log
